.criar-conta {
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
    color: #403747; 
    text-transform: uppercase;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.termos-condicoes-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.85rem;
    color: #403747; 
}

select#sexo {
    appearance: none;
    width: 100%;
    padding: 10px 35px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: url('/docs/img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #403747; 
}

label[for="terms-checkbox"] {
    margin-left: 8px;
    font-weight: normal;
    text-align: left;
    margin-top: 14px;

}

label[for="terms-checkbox"] a {
    color: #403747; 
    font-weight: bold;
}

label[for="terms-checkbox"] a:hover {
    color: #1D1D1D;
    text-decoration: underline;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: #fff;
}

input[type="checkbox"] {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: #fff;
}

.botaoregisto {
    width: 100%;
    padding: 10px;
    background-color: #403747; 
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.parag-final {
    display: block;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #403747; 
    text-align: center;
    
}

.parag-final a {
    color: #403747; 
    font-weight: bold;
}

.parag-final a:hover {
    color: #1D1D1D;
    text-decoration: underline;
}

.termos-condicoes {
    font-size: 0.85rem;
    color: #403747; 
    margin-bottom: 15px;
}

#mensagem-de-erro-palavra-passe {
    text-align: left;
    align-self: center;
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
    
}

.valid {
    border-color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: '✔';
}

.invalid {
    border-color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: '✖';
}