body.dark-mode {
    background: linear-gradient(to bottom, #1D1D1D, #403747);
    background-attachment: fixed;
    color: #FFFFFF;
}

body.dark-mode .header {
    background-color: transparent; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 10px #000000;
}

body.dark-mode .navbar a {
    color: #FFFFFF;
}

body.dark-mode .highlight-link {
    background-color: transparent;
    color: #FFFFFF !important;
    border-bottom: 2px solid #FFFFFF; 
}

body.dark-mode .btn-login {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-shadow: 0 2px 4px #000000;
}

body.dark-mode .btn-signup {
    background-color: #FFFFFF;
    color: #403747; 
    box-shadow: 0 4px 8px #000000;
}

body.dark-mode .hero-explore-btn {
    background-color: #1d1d1d;
    color: #FFFFFF;
    box-shadow: 5px 3px 5px #FFFFFF;
}

body.dark-mode .slider {
    background-color: #1D1D1D;
    color: #D3D3D3;
    box-shadow: inset 0 0 5px #000000;
}

body.dark-mode .slider:before {
    background-color: #FFFFFF;
}

body.dark-mode .footer {
    background-color: #1d1d1d   ; 
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark-mode .footer-content {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .footer-bottom {
    color: #D3D3D3;
}

body.dark-mode .features-header h2 {
    color: #FFFFFF;
}

body.dark-mode .features-header .subtitle {
    color: #D3D3D3;
}

body.dark-mode .feature-content h3 {
    color: #FFFFFF;
}

body.dark-mode .feature-content p {
    color: #D3D3D3;
}

body.dark-mode .img-light {
    display: none !important;
}

body.dark-mode .img-dark {
    display: block !important;
}

body.dark-mode ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: #403747; 
    border-radius: 10px; 
    border: 2px solid rgba(0, 0, 0, 0); 
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #554A5C;
}

body.dark-mode ::-webkit-scrollbar-button {
    display: none; 
}